Node Red Flows/Alpha One Hour State.json
[{"id":"5494f38e740e8325","type":"tab","label":"Alpha One Hour State","disabled":false,"info":"","env":[]},{"id":"d586b0bb6081df1a","type":"mqtt in","z":"5494f38e740e8325","name":"One Hour Status","topic":"Alpha2MQTT/state/hour/one","qos":"2","datatype":"auto-detect","broker":"22e024772e711f4f","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":240,"wires":[["a82c3fee6e3577e6","6475d0c428486e72","411519b32fbec7da","65af28676dbe5118","91ffde1cd0e0fd15"]]},{"id":"a82c3fee6e3577e6","type":"debug","z":"5494f38e740e8325","name":"Output One Hour Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":160,"wires":[]},{"id":"6475d0c428486e72","type":"change","z":"5494f38e740e8325","name":"REG_GRID_METER_R_FREQUENCY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.REG_GRID_METER_R_FREQUENCY","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["b50ff4540d976a20","37c6da684d9abd4d"]]},{"id":"37c6da684d9abd4d","type":"mqtt out","z":"5494f38e740e8325","name":"Send REG_GRID_METER_R_FREQUENCY","topic":"HomeAssistant/MQTTSensor/REG_GRID_METER_R_FREQUENCY","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":1170,"y":320,"wires":[]},{"id":"b50ff4540d976a20","type":"debug","z":"5494f38e740e8325","name":"Debut Output REG_GRID_METER_R_FREQUENCY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":260,"wires":[]},{"id":"411519b32fbec7da","type":"change","z":"5494f38e740e8325","name":"REG_PV_METER_R_FREQUENCY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.REG_PV_METER_R_FREQUENCY","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[["48efaa7f7b160e41","5abb1cbd06f4f2e9"]]},{"id":"5abb1cbd06f4f2e9","type":"mqtt out","z":"5494f38e740e8325","name":"Send REG_PV_METER_R_FREQUENCY","topic":"HomeAssistant/MQTTSensor/REG_PV_METER_R_FREQUENCY","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":1170,"y":460,"wires":[]},{"id":"48efaa7f7b160e41","type":"debug","z":"5494f38e740e8325","name":"Debut Output REG_PV_METER_R_FREQUENCY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":400,"wires":[]},{"id":"65af28676dbe5118","type":"change","z":"5494f38e740e8325","name":"REG_SYSTEM_OP_R_SYSTEM_FAULT_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.REG_SYSTEM_OP_R_SYSTEM_FAULT_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":580,"wires":[["5a20e7aeef0fbfc9","975455313efa6fc6"]]},{"id":"975455313efa6fc6","type":"mqtt out","z":"5494f38e740e8325","name":"Send REG_SYSTEM_OP_R_SYSTEM_FAULT_1","topic":"HomeAssistant/MQTTSensor/REG_SYSTEM_OP_R_SYSTEM_FAULT_1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":1190,"y":600,"wires":[]},{"id":"5a20e7aeef0fbfc9","type":"debug","z":"5494f38e740e8325","name":"Debut Output REG_SYSTEM_OP_R_SYSTEM_FAULT_1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":540,"wires":[]},{"id":"91ffde1cd0e0fd15","type":"change","z":"5494f38e740e8325","name":"REG_BATTERY_HOME_R_BATTERY_FAULT_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.REG_BATTERY_HOME_R_BATTERY_FAULT_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":700,"wires":[["2eda034a74dc8b18","dd9d1c1ee72f9cb7"]]},{"id":"2eda034a74dc8b18","type":"mqtt out","z":"5494f38e740e8325","name":"Send REG_BATTERY_HOME_R_BATTERY_FAULT_1","topic":"HomeAssistant/MQTTSensor/REG_BATTERY_HOME_R_BATTERY_FAULT_1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":1200,"y":720,"wires":[]},{"id":"dd9d1c1ee72f9cb7","type":"debug","z":"5494f38e740e8325","name":"Debut Output REG_BATTERY_HOME_R_BATTERY_FAULT_1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":660,"wires":[]},{"id":"22e024772e711f4f","type":"mqtt-broker","name":"Mosquitto Broker","broker":"192.168.1.135","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]