Node Red Flows/Alpha Five Minute State.json
[{"id":"fde4a7f24875fac7","type":"tab","label":"Alpha Five Minute State","disabled":false,"info":"","env":[]},{"id":"758e9358a68ebe72","type":"mqtt in","z":"fde4a7f24875fac7","name":"Five Minute Status","topic":"Alpha2MQTT/state/minute/five","qos":"2","datatype":"auto-detect","broker":"22e024772e711f4f","nl":false,"rap":true,"rh":0,"inputs":0,"x":250,"y":340,"wires":[["fb88b8a2d187eb9d","180840bdfea2d9fc","a6ac5b2206b33016","c5119fb5c0276c92"]]},{"id":"fb88b8a2d187eb9d","type":"debug","z":"fde4a7f24875fac7","name":"Output Five Minute Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":220,"wires":[]},{"id":"180840bdfea2d9fc","type":"change","z":"fde4a7f24875fac7","name":"REG_BATTERY_HOME_R_BATTERY_CHARGE_ENERGY_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.REG_BATTERY_HOME_R_BATTERY_CHARGE_ENERGY_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":400,"wires":[["40219b76859dd09f","62b467703d1cc33b"]]},{"id":"62b467703d1cc33b","type":"mqtt out","z":"fde4a7f24875fac7","name":"Send REG_BATTERY_HOME_R_BATTERY_CHARGE_ENERGY_1","topic":"HomeAssistant/MQTTSensor/REG_BATTERY_HOME_R_BATTERY_CHARGE_ENERGY_1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":1370,"y":420,"wires":[]},{"id":"40219b76859dd09f","type":"debug","z":"fde4a7f24875fac7","name":"Debut Output REG_BATTERY_HOME_R_BATTERY_CHARGE_ENERGY_1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":360,"wires":[]},{"id":"a6ac5b2206b33016","type":"change","z":"fde4a7f24875fac7","name":"REG_BATTERY_HOME_R_BATTERY_DISCHARGE_ENERGY_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.REG_BATTERY_HOME_R_BATTERY_DISCHARGE_ENERGY_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":540,"wires":[["8ced8248f119cd9e","5879071f3164a3dd"]]},{"id":"5879071f3164a3dd","type":"mqtt out","z":"fde4a7f24875fac7","name":"Send REG_BATTERY_HOME_R_BATTERY_DISCHARGE_ENERGY_1","topic":"HomeAssistant/MQTTSensor/REG_BATTERY_HOME_R_BATTERY_DISCHARGE_ENERGY_1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":1380,"y":560,"wires":[]},{"id":"8ced8248f119cd9e","type":"debug","z":"fde4a7f24875fac7","name":"Debut Output REG_BATTERY_HOME_R_BATTERY_DISCHARGE_ENERGY_1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":500,"wires":[]},{"id":"c5119fb5c0276c92","type":"change","z":"fde4a7f24875fac7","name":"REG_BATTERY_HOME_R_BATTERY_ENERGY_CHARGE_FROM_GRID_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.REG_BATTERY_HOME_R_BATTERY_ENERGY_CHARGE_FROM_GRID_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":680,"wires":[["538a95db72132741","7647bcc3120d912a"]]},{"id":"7647bcc3120d912a","type":"mqtt out","z":"fde4a7f24875fac7","name":"Send REG_BATTERY_HOME_R_BATTERY_ENERGY_CHARGE_FROM_GRID_1","topic":"HomeAssistant/MQTTSensor/REG_BATTERY_HOME_R_BATTERY_ENERGY_CHARGE_FROM_GRID_1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":1410,"y":700,"wires":[]},{"id":"538a95db72132741","type":"debug","z":"fde4a7f24875fac7","name":"Debut Output REG_BATTERY_HOME_R_BATTERY_ENERGY_CHARGE_FROM_GRID_1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":640,"wires":[]},{"id":"22e024772e711f4f","type":"mqtt-broker","name":"Mosquitto Broker","broker":"192.168.1.135","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]