Node Red Flows/Alpha Dispatch Responses.json
[{"id":"30abfb2c059976cf","type":"tab","label":"Alpha Dispatch Responses","disabled":false,"info":"","env":[]},{"id":"4b9949268f5e889a","type":"mqtt in","z":"30abfb2c059976cf","name":"Charge Response","topic":"Alpha2MQTT/response/set/charge","qos":"2","datatype":"auto-detect","broker":"22e024772e711f4f","nl":false,"rap":true,"rh":0,"inputs":0,"x":1610,"y":3840,"wires":[["1a6bf47286bc2ec7","b8812462d8c777c5","177ac2884f295ff3"]]},{"id":"1a6bf47286bc2ec7","type":"debug","z":"30abfb2c059976cf","name":"Output Charge Response Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":3720,"wires":[]},{"id":"b8812462d8c777c5","type":"change","z":"30abfb2c059976cf","name":"responseStatus","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.responseStatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":3820,"wires":[["0c98b682539633dc","8c9312c4a7469b22"]]},{"id":"8c9312c4a7469b22","type":"mqtt out","z":"30abfb2c059976cf","name":"Send CHARGE_RESPONSE_responseStatus","topic":"HomeAssistant/MQTTSensor/CHARGE_RESPONSE_responseStatus","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":2400,"y":3880,"wires":[]},{"id":"0c98b682539633dc","type":"debug","z":"30abfb2c059976cf","name":"Debut Output responseStatus","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2350,"y":3820,"wires":[]},{"id":"177ac2884f295ff3","type":"change","z":"30abfb2c059976cf","name":"failureDetail","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.failureDetail","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1850,"y":3900,"wires":[["91c2ef0b19c031aa","f24c48099029cee4"]]},{"id":"f24c48099029cee4","type":"mqtt out","z":"30abfb2c059976cf","name":"Send CHARGE_RESPONSE_failureDetail","topic":"HomeAssistant/MQTTSensor/CHARGE_RESPONSE_failureDetail","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":2390,"y":4020,"wires":[]},{"id":"91c2ef0b19c031aa","type":"debug","z":"30abfb2c059976cf","name":"Debut Output failureDetail","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":3960,"wires":[]},{"id":"444e0ae7aefb04f2","type":"mqtt in","z":"30abfb2c059976cf","name":"Normal Response","topic":"Alpha2MQTT/response/set/normal","qos":"2","datatype":"auto-detect","broker":"22e024772e711f4f","nl":false,"rap":true,"rh":0,"inputs":0,"x":1590,"y":3380,"wires":[["fd7d03475d99ac79","9c176829d4540f86","3b0bae7a564ca9c9"]]},{"id":"fd7d03475d99ac79","type":"debug","z":"30abfb2c059976cf","name":"Output Normal Response Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":3260,"wires":[]},{"id":"9c176829d4540f86","type":"change","z":"30abfb2c059976cf","name":"responseStatus","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.responseStatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":3360,"wires":[["7bce03312faa7a69","b8eeb4d97418081f"]]},{"id":"b8eeb4d97418081f","type":"mqtt out","z":"30abfb2c059976cf","name":"Send NORMAL_RESPONSE_responseStatus","topic":"HomeAssistant/MQTTSensor/NORMAL_RESPONSE_responseStatus","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":2400,"y":3420,"wires":[]},{"id":"7bce03312faa7a69","type":"debug","z":"30abfb2c059976cf","name":"Debut Output responseStatus","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2350,"y":3360,"wires":[]},{"id":"3b0bae7a564ca9c9","type":"change","z":"30abfb2c059976cf","name":"failureDetail","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.failureDetail","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1850,"y":3460,"wires":[["04c58b466475e71e","68a92e55d8335f63"]]},{"id":"68a92e55d8335f63","type":"mqtt out","z":"30abfb2c059976cf","name":"Send NORMAL_RESPONSE_failureDetail","topic":"HomeAssistant/MQTTSensor/NORMAL_RESPONSE_failureDetail","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":2390,"y":3560,"wires":[]},{"id":"04c58b466475e71e","type":"debug","z":"30abfb2c059976cf","name":"Debut Output failureDetail","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":3500,"wires":[]},{"id":"2c5a21b6505c1507","type":"mqtt in","z":"30abfb2c059976cf","name":"Discharge Response","topic":"Alpha2MQTT/response/set/discharge","qos":"2","datatype":"auto-detect","broker":"22e024772e711f4f","nl":false,"rap":true,"rh":0,"inputs":0,"x":1590,"y":2920,"wires":[["e5198b4b1389b43f","50abda4f58acb864","6be566a63a77601e"]]},{"id":"e5198b4b1389b43f","type":"debug","z":"30abfb2c059976cf","name":"Output Discharge Response Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1920,"y":2860,"wires":[]},{"id":"50abda4f58acb864","type":"change","z":"30abfb2c059976cf","name":"responseStatus","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.responseStatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":2940,"wires":[["6018f7d2d735eece","ea6298a19dd3050f"]]},{"id":"ea6298a19dd3050f","type":"mqtt out","z":"30abfb2c059976cf","name":"Send DISCHARGE_RESPONSE_responseStatus","topic":"HomeAssistant/MQTTSensor/DISCHARGE_RESPONSE_responseStatus","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":2410,"y":3000,"wires":[]},{"id":"6018f7d2d735eece","type":"debug","z":"30abfb2c059976cf","name":"Debut Output responseStatus","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2350,"y":2940,"wires":[]},{"id":"6be566a63a77601e","type":"change","z":"30abfb2c059976cf","name":"failureDetail","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.failureDetail","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1850,"y":3000,"wires":[["f21d2c2ff4e85da4","561984d53235be0b"]]},{"id":"561984d53235be0b","type":"mqtt out","z":"30abfb2c059976cf","name":"Send DISCHARGE_RESPONSE_failureDetail","topic":"HomeAssistant/MQTTSensor/DISCHARGE_RESPONSE_failureDetail","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":2400,"y":3140,"wires":[]},{"id":"f21d2c2ff4e85da4","type":"debug","z":"30abfb2c059976cf","name":"Debut Output failureDetail","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":3080,"wires":[]},{"id":"22e024772e711f4f","type":"mqtt-broker","name":"Mosquitto Broker","broker":"192.168.1.135","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]