Node Red Flows/Alpha One Minute State.json
[{"id":"937aa70dda76e83a","type":"tab","label":"Alpha One Minute State","disabled":false,"info":"","env":[]},{"id":"1cacda5b29d67ba3","type":"mqtt in","z":"937aa70dda76e83a","name":"One Minute Status","topic":"Alpha2MQTT/state/minute/one","qos":"2","datatype":"auto-detect","broker":"22e024772e711f4f","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":420,"wires":[["81c6aaf4cecfbad8","c2de0982e5412c75","70cd860d3cfd8463","07d089ffd4d40faa"]]},{"id":"81c6aaf4cecfbad8","type":"debug","z":"937aa70dda76e83a","name":"Output One Minute Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":300,"wires":[]},{"id":"c2de0982e5412c75","type":"change","z":"937aa70dda76e83a","name":"REG_GRID_METER_R_VOLTAGE_OF_A_PHASE","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.REG_GRID_METER_R_VOLTAGE_OF_A_PHASE","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":480,"wires":[["9db9921c78912bb1","ede453cb71384c64"]]},{"id":"ede453cb71384c64","type":"mqtt out","z":"937aa70dda76e83a","name":"Send REG_GRID_METER_R_VOLTAGE_OF_A_PHASE ","topic":"HomeAssistant/MQTTSensor/REG_GRID_METER_R_VOLTAGE_OF_A_PHASE","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":1490,"y":500,"wires":[]},{"id":"9db9921c78912bb1","type":"debug","z":"937aa70dda76e83a","name":"Debut Output REG_GRID_METER_R_VOLTAGE_OF_A_PHASE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1520,"y":440,"wires":[]},{"id":"70cd860d3cfd8463","type":"change","z":"937aa70dda76e83a","name":"REG_PV_METER_R_VOLTAGE_OF_A_PHASE","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.REG_PV_METER_R_VOLTAGE_OF_A_PHASE","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":620,"wires":[["50fa565515ef2644","fce883997b6cb872"]]},{"id":"fce883997b6cb872","type":"mqtt out","z":"937aa70dda76e83a","name":"Send REG_PV_METER_R_VOLTAGE_OF_A_PHASE","topic":"HomeAssistant/MQTTSensor/REG_PV_METER_R_VOLTAGE_OF_A_PHASE","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":1480,"y":640,"wires":[]},{"id":"50fa565515ef2644","type":"debug","z":"937aa70dda76e83a","name":"Debut Output REG_PV_METER_R_VOLTAGE_OF_A_PHASE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":580,"wires":[]},{"id":"07d089ffd4d40faa","type":"change","z":"937aa70dda76e83a","name":"REG_INVERTER_HOME_R_VOLTAGE_L1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.REG_INVERTER_HOME_R_VOLTAGE_L1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":740,"wires":[["fcdfaf6b260d8c33","54d451f9397d0974"]]},{"id":"54d451f9397d0974","type":"mqtt out","z":"937aa70dda76e83a","name":"Send REG_INVERTER_HOME_R_VOLTAGE_L1","topic":"HomeAssistant/MQTTSensor/REG_INVERTER_HOME_R_VOLTAGE_L1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e024772e711f4f","x":1470,"y":780,"wires":[]},{"id":"fcdfaf6b260d8c33","type":"debug","z":"937aa70dda76e83a","name":"Debut Output REG_INVERTER_HOME_R_VOLTAGE_L1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":720,"wires":[]},{"id":"22e024772e711f4f","type":"mqtt-broker","name":"Mosquitto Broker","broker":"192.168.1.135","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]